{% extends "base.html" %}
{% load static %}

{% block title %}CreatePost{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "app.css" %}">
    <link rel="stylesheet" href="{% static "blog/new-post.css" %}">
{% endblock css_files %}

{% block content %}
    <form action="{% url "new-post" %}" method="post" enctype="multipart/form-data">
        <h1>Please create new Post</h1>
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{field.label}}
                {{field}}
                {{field.errors}}
            </div>
        {% endfor %}
        <button type="submit">SUBMIT-BUTTON</button>
    </form>
{% endblock content %}
